/* Base graphique 
 -------------------------------- */

/* Variables */
html {
    --font_titre: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --blue: #6495ed;
    --orange: #ff7f50;
    --white: #ffffff;
    --grey: #4e4e4e;
    --lightgrey: #999999;
    --black: #272727;
    --darker: #202020;
}

/* Base héritée */
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 400;
}

/* Tout */
* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: var(--black);
}


/* Conteneurs génériques 
 -------------------------------- */

/* Contexte flex */
main,
.flex {
    display: flex;
}

.col {
    flex-direction: column;
    gap: 40px;
}

.row {
    flex-direction: row;
    gap: 80px;
}

section.row {
    flex-wrap: wrap;
}

.row > * {
    flex: 1;
}

/* Principal */
main {
    flex-direction: column;
    padding: 40px;
    gap: 80px;
}

/* Grille */
.grille {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 60px 20px;
}

img {
    max-width: 100%;
    object-fit: cover;
}


/* Éléments génériques 
 -------------------------------- */

/* Titres */
h1, h2 {
    font-family: var(--font_titre);
}

h1 {
    font-size: 2.25em;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--blue);
}

h2 {
    font-size: 1.25em;
    font-weight: 200;
    margin-bottom: 20px;
}

/* Petit texte */
small {
    color: var(--lightgrey);
    font-family: var(--font_titre);
}

/* Paragraphe */
p {
    line-height: 1.5625;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Liens */
a {
    max-width: max-content;
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--orange);
    transition: 300ms ease-in-out;
}

/* Boutons */
.bouton {
    max-width: max-content;
    padding: 15px 20px;
    background-color: inherit;
    border: 1px solid var(--blue);
}

.bouton:hover {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
    border-radius: 20vh;
    transition: 300ms ease-in-out;
}


/* Conteneur spécifique : Form 
 -------------------------------- */

form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

form > .row {
    flex-wrap: wrap;
}

form fieldset.col {
    flex: 1;
    min-width: 400px;
    gap: 20px;
    border: none;
}

/* Labels */
label {
    color: var(--lightgrey);
    font-family: var(--font_titre);
    font-size: smaller;
    margin-top: 20px;
}

/* Inputs */
input, 
select, 
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

input, 
select, 
textarea {
    display: block;
    padding: 10px 15px;
    background-color: #202020;
    border: none;
    border-left: 5px solid coral;
}

input:focus, 
select:focus, 
textarea:focus {
    outline: none;
    border-color: cornflowerblue;
}

select * {
    outline: none;
    border-left: 3px solid coral;
}

textarea {
    height: 200px;
    resize: none;
    line-height: 1.5625;
}

/* Bouton */
input.bouton {
    color: var(--blue);
    cursor: pointer;
}

/* Bouton annuler,
   Bouton supprimer */
.annuler,
.bouton.supprimer {
    color: var(--lightgrey);
    border-color: var(--grey);
}

.annuler:hover {
    background-color: var(--black);
    border-color: var(--grey);
}

.supprimer:hover {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}


/* Conteneur spécifique : Accueil (Page Navigation) 
 -------------------------------- */

.accueil {
    min-height: calc(100% - 160px);
    padding: 80px 80px;
    justify-content: center;
    gap: 80px;
}

.accueil nav,
.accueil nav > .grille {
    gap: 20px;
}

.accueil nav > .grille {
    grid-template-columns: repeat(auto-fill, minmax(400px, 2));
}
@media screen and (min-width: 1600px) {
    .accueil nav > .grille {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Boutons */
.accueil > nav a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 75px;
    max-width: unset;
    flex: 1;
    font-size: 2.25rem;
}

/* Gros boutons */
.accueil .nav a {
    color: var(--blue);
    border: 1px solid var(--blue);
}

/* Moyens boutons */
.accueil .boutons a {
    font-size: 1.25rem;
    color: var(--orange);
    border: 1px solid var(--orange);
}

/* Moyens boutons (de session) */
.accueil .boutons a.session {
    padding: 50px 75px;
    color: var(--lightgrey);
    border-color: var(--lightgrey);
}

/* Flèches dans les boutons */
.accueil .fleche {
    position: absolute;
    color: inherit;
    margin-left: calc(100% - 200px);
    opacity: 0;
    transition: ease-in-out 300ms;
}

.accueil a:hover .fleche {
    margin-left: calc(100% - 170px);
    opacity: 1;
}


/* Conteneur spécifique : Navigations principale et secondaire
 -------------------------------- */

.nav-principale,
.nav-principale .action {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--darker);
}

.nav-principale {
    gap: 40px;
    padding: 0px 40px;
}

/* Liens de la navigation */
.nav-principale a {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: inherit;
    border-bottom: 2px solid var(--darker);
    box-sizing: border-box;
}

.nav-principale a:hover {
    border-color: var(--orange);
}

/* Sous-conteneur spécifique : Action */
.action {
    margin-left: auto;
    gap: 20px;
}

.action a:not(.bouton-action) {
    color: var(--lightgrey);
    border-bottom: 0.5px solid var(--lightgrey);
    padding-bottom: 1.5px;
}

.action a:hover {
    color: var(--blue);
    border-color: var(--blue);
}

.action .bouton-action {
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: var(--orange);
}

.action .bouton-action:hover {
    color: var(--white);
    border-color: var(--white);
}


/* Conteneur spécifique : Carte 
 -------------------------------- */

.fil-arianne {
    padding: 10px 40px;
}


/* Conteneur spécifique : Entête principale 
 -------------------------------- */

main > header.row {
    gap: 40px;
}

/* largeur non définie */
main > header.row > nav {
    flex: unset;
}


/* Conteneur spécifique : Carte 
 -------------------------------- */

/* Carte */
.carte {
    gap: 20px;
    padding: 30px;
    border-left: 1px solid var(--grey);
}

.carte > .row {
    gap: 20px;
}

/* Nom de l'entreprise */
.carte a {
    font-size: 1.625em;
}


/* Conteneur spécifique : Nav Action 
 -------------------------------- */

.nav-action {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}


/* Conteneur spécifique : Nav Action 
 -------------------------------- */

form .row:has(> .aide) {
    justify-content: space-between;
}

form .row:has(> .aide) > * {
    flex: unset;
}

form .row > .aide {
    align-items: center;
    gap: 20px;
}

form .row > .aide > * {
    flex: unset;
}


/* Conteneur spécifique : Nav Liens 
 -------------------------------- */

.nav-liens {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Liens avec flèche */
a.lien-fleche {
    display: flex;
    align-items: baseline;
    gap: 20px;
}


/* Conteneur spécifique : Nav Liens 
 -------------------------------- */

footer {
    margin-top: auto;
    font-size: .75em;
    padding: 20px 40px;
    color: var(--grey);
    background-color: var(--darker);
}

